<div class="container">
	<!-- Header and binding notation calling function within vm component -->
	<h3 ng-hide="vm.selected">Current Students : <span>{{vm.studentCount()}}</span></h3>
		<span><button class="btn" id="newStudentBtn" type="submit" ng-show="!vm.selected" ng-click="vm.setNewStudent()">Add Student</button></span>
	<div>
		<form class="form-control" ng-show="vm.newStudent">
			<input type="text" placeholder="First Name" ng-model="student.firstName"/>
			<input type="text" placeholder="Last Name" ng-model="student.lastName"/>
			<input type="text" placeholder="Grade" ng-model="student.grade"/>
			<button class="btn" type="submit" ng-click="vm.addStudent(student); student = {}">Add</button>
		</form>
	</div>
	
	<div>
		<table class="table" ng-hide="vm.selected">
			<thead class="thead-dark">
				<th>First Name</th>
				<th>Last Name</th>
				<th>View</th>
			</thead>
			<tbody>
				<tr ng-repeat="student in vm.students">
					<td>{{student.firstName}}</td><td>{{student.lastName}}</td>
					<td><button class="btn" type="submit" ng-click="vm.displayStudent(student)">View</button></td>
			</tbody>
		</table>
	</div>
	<!-- Individual student view -->
	<div class="jumbotron" ng-show="vm.selected && !vm.studentToEdit">
		<h1>Name: {{vm.selected.firstName}} {{vm.selected.lastName}} </h1>
		<h1>Grade: {{vm.selected.grade}}</h1>
		<button class="btn" type="submit" ng-click="vm.setEditStudent()">Edit Student</button>
	</div>
	<button class="btn" type="submit" ng-click="vm.displayFullTable()" ng-show="vm.selected ">Return to List</button>
	
	<form class="form-control" ng-show="vm.studentToEdit">
		<input type="text" placeholder="First Name" ng-model="vm.studentToEdit.firstName"/>
		<input type="text" placeholder="Last Name" ng-model="vm.studentToEdit.lastName"/>
	</form>
</div>
	<!-- <form class="form-control" ng-hide="vm.selected">
	ng-model stores the values entered in the form in an object
	which needs the same properties as the obj array it's being added to
		<input type="text" placeholder="Task" ng-model="todo.task"/>
		<input type="submit" value="Add" ng-click="vm.addTodo(todo); todo = {}"/>
		click behavior added to submit btn and calls function sending it
	 the obj it's been building. ; separates expression sets form's obj to {} to clear the form
	</form>
	Shows if vm.selected has a value and editTodo does not
	<div id="detailView" ng-show="vm.selected && !vm.editTodo">
		<h4>Title: {{vm.selected.task}}</h4>
		<h4>Description: {{vm.selected.description}}</h4>
		<h4>Completion: {{vm.selected.completed}}</h4>
		
		<button type="submit" ng-click="vm.setEditTodo()">Edit Todo</button>
	</div>
	Hide the table if a todo is selected
	<table class="table" ng-hide="vm.selected">
		<thead class="thead-dark">
			<th>Task</th>
			<th>Mark</th>
			<th>Completed</th>
			<th>Delete</th>
		</thead>
		<tbody>
		ng-repeat on the element you want repeated
		Everything in this form must use the same var name as in the repeat loop
			<tr ng-repeat="todo in vm.todos | incomplete:vm.showComplete | orderBy:'id'">
				<td><button class="btn" type="submit" value="View" ng-click="vm.displayTodo(todo)" ng-class="vm.checkTaskCompletion(todo)"/> {{todo.task}} </td>
				2 way data binding to boolean value using ng-change to relay change to DB
				<td><input type="checkbox" ng-model="todo.completed" ng-change="vm.updateTodo(todo)"/></td>
				displaying the changes to that 2 way relationship in the view
				<td>{{todo.completed}}</td>
				<td><button class="btn" ng-click="vm.deleteTodo(todo.id)">X</button></td>
			</tr>
		</tbody>
		<tfoot>
			<tr><td>Show All Tasks: <input type="checkbox" ng-model="vm.showComplete"/></td></tr>
		</tfoot>
	</table>
	
	Shows when editTodo has a value (created by setEditTodo)
	<form class="form-control" ng-show="vm.editTodo">
		<input type="text" placeholder="Task Name" ng-model="vm.editTodo.task"/>
		<input type="text" placeholder="Description" ng-model="vm.editTodo.description"/>
		Completion : <input type="checkbox" ng-model="vm.editTodo.completed"/> {{vm.editTodo.completed}}<br />
		<button type="submit" ng-click="vm.updateTodo(vm.editTodo)">Save</button>
		<button type="submit" ng-click="vm.cancel(vm.editTodo)">Cancel</button>
	</form>
	
	<button type="submit" ng-click="vm.displayTable()" ng-show="vm.selected ">Return to List</button>
</div> -->