/* #content {
	background-color: grey;
}

#assignedHeader {
	color: red;
}

button:hover {
	background-color: blue;
} */

#newStudentBtn {
	margin-right: 2cm;
}

#deleteBtn {
	background-color: red;
}

#roleDiv {
	padding-top : 15px;
}

#addRoleBtn {
	/* padding-top : 15px; */
}